:root {
  --primary-color: #17d6df;
  --primary-color-dark: #18d6e0;
  --primary-color-hover: #18c2cc;
  --pure-black: #000;
  --pure-white: #fff;
  --pure-yellow: #ff0;
  --pure-red: #f00;
  --green: #090;
  --disabled-color: #c5c5c5;
  --dark-yellow: #f1b113;
  --dark-yellow-hover: #ffd15e;
}
